[submodule "bundle/vim-ack"]
	path = bundle/vim-ack
	url = https://github.com/mileszs/ack.vim
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = https://github.com/mhz/vim-matchit.git
